"*":
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "linter-codeclimate"
    ]
    packagesWithKeymapsDisabled: [
      "change-case"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "rudy-dark-syntax"
    ]
  editor:
    fontSize: 16
    scrollPastEnd: true
    showInvisibles: true
  "exception-reporting":
    userId: "a0acd7b5-c540-46f2-958a-5b3bc5193387"
  fonts:
    fontFamily: "Inconsolata"
  "git-blame":
    columnWidth: 252
  "linter-rubocop":
    command: "/Users/rudy/.rbenv/shims/rubocop"
    disableWhenNoConfigFile: true
  "linter-ui-default":
    showPanel: true
  react:
    enabledForAllJavascriptFiles: true
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
